.button {
    border: 3px solid $mainColor;
    padding: .15em .3em;
    text-decoration: none;
    
    &--black-border {
        color: $mainColor;
        transition: all .2s ease-out;

        &:hover {
				color: $mainColor;
				background: $accentColor;
			}
		
    }

    &--black-big {
        color: $accentColor;
        background: $mainColor;
        border: 4px solid $mainColor;
        font-size: 1.5rem;
        transition: all .2s ease-out;

        @mixin atSmall {
            font-size: 2rem;
            
        }

        &:hover {
            color: $mainColor;
            background: $accentColor;
        }

    }

    &--uppercase {
        text-transform: uppercase;
        font-weight: 700;
    }
    
}