.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	&__logo {
		font-size: 1.5rem;
		padding-top: 0.5em;
		padding-left: 0.5em;
		text-transform: uppercase;
		font-weight: 900;
		
		a {
			text-decoration: none;
			color: $blackColor;

		}

		@mixin atSmall {
			font-size: 2rem;
			padding-left: 1em;
		}
	}

	&__nav {
		display: inline-flex;
		flex-flow: row wrap;
		padding-right: 1em;
		padding-top: 1em;
		text-transform: uppercase;
		
	
		a {
			text-decoration: none;
			color: $blackColor;
			transition: all 0.2s ease;

			&:hover {
				color: $whiteColor;
				background-color: $blackColor;
			}
		}

		li {
			
			list-style: none;
			padding-left: 10px;
			
		}
		.menu {
			display: flex;
		}
	}
}