header {
	grid-area: header;
	display: flex;
	
	justify-content: space-between;
	align-items: flex-start;

}
#logo > h1 > a{
	font-size: 80%;
	padding-left: 1em;
	text-decoration: none;
	text-transform: uppercase;
	color: $black-color;
}
nav.nav-wrapper {
	display: flex;
	flex-flow: row wrap;
	padding-right: 1em;
	
	a, :visited{
		text-decoration: none;
		text-transform: uppercase;
		color: $black-color;
		transition: all 0.2s ease;
		&:hover {
			color: $secondary-color;
		}
	}
	li {
		list-style: none;
	}
}
#menu-primary-menu {
	display: flex;
	padding: 10px;
	li {
		padding-left: 10px;
	}
}
.current_page_item {
	color: $primary-color;
}