.header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1em 0;

	&__logo-wrapper {
	
		& > h1 {
			font-size: 2.25rem;
			text-transform: uppercase;
			font-weight: 900;
			margin-left: 1rem;
			
			a {
				text-decoration: none;
				padding: 0 5px;
				color: $accentColor;
				background-color: $mainColor;
				}

			@mixin atSmall {
				font-size: 2.5rem;
				margin-left: 1rem;
			}
		}

		& > p {
			color: $accentColor;
			margin-left: 1em;
			font-size: 1em;
			@mixin atSmall {
				margin-left: 1em;
				font-size: 1em;
			}
		}
	
		
	}

	&__nav {
		display: flex;
		margin-top:  .5em;
		padding-right: 1em;
		text-transform: uppercase;
		
		
	
		a {
			text-decoration: none;
			color: $mainColor;
			transition: all 0.2s ease;
			padding: 1px 3px;

			&:hover {
				color: $mainColor;
				background-color: $accentColor;
			}
		}

		li {
			
			list-style: none;
			padding-left: 10px;
			
		}
		.menu {
			display: flex;
		}
	}

	

}

