.page-header {
	grid-area: header;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	display: flex;
    justify-content: space-between;
	align-items: center;
	background: $whiteColor;
	padding: 1em 0;
	
	&__back {
		font-size: 1.2rem;
		text-decoration: none;
		margin-left: 1em;
		letter-spacing: 2px;
		@mixin atSmall {
			margin-left: 1em;
			
		}
		@mixin atMedium {
			margin-left: 2em;
			
		}
		
	}

	&__nav {
		display: flex;
		text-transform: uppercase;
		
		@mixin atSmall {
			margin-right: 1em;
			
		}
		@mixin atMedium {
			margin-right: 2em;
		}
		
	
		a {
			text-decoration: none;
			letter-spacing: 2px;
			color: $mainColor;
			transition: all 0.2s ease-out;
			margin-right: .5em;
			@mixin atSmall {
				margin-right: 1em;
			}

			&:hover {
				color: $accentColor;
				border-bottom: solid 3px $accentColor;
			}
		}

		li {
			list-style: none;
			padding-left: 10px;
		}
		.menu {
			display: flex;
		}
	}
}

.current-menu-item  > a{
	color: $accentColor;
	text-decoration: line-through;
}