.page-content {
	grid-column: span 2;
	display: flex;
	flex-flow: column;
	
	
	&__title {
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-left: 2em;
		margin-top: 4em;
	}

	&__post {
		display: flex;
		flex-direction: column;
		margin-top: 2em;

		p {
			padding-left: 4em;
		}
	}
}

img {
	width: 100vw;
	height: auto;
	padding-bottom: 1em;
}