.page-content {
	display: flex;
	flex-flow: column;

	&__title {
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-left: 2em;
		margin-bottom: 20px;
	}

	&__post {
		margin-top: 2em;
		justify-content: center;
	}
}

img {
	width: 100vw;
	height: auto;
}